

<nav class="navbar_keroajuda navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="../../assets/img/LOGO3D.png" width="250" height="100" class="d-inline-block align-top" alt="">
  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="links collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Cadastre-se como profissional<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Cadastre-se</a>
              <a class="nav-item nav-link" href="#">Entrar</a>
            </div>
        </div>
</nav>







